:root {
  font-family:
    Inter,
    Avenir,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 16px;
  line-height: 24px;

  color: #f6f6f6;
  background-color: #0f0f0f;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* Chessground board sizing */
cg-board {
  background-color: #302e2b;
}
